@import './base.css';

.btn-custom {
    --color: #088a69;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--green-color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .btn-custom::after, .btn-custom::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .btn-custom::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn-custom:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn-custom:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .btn-custom:hover {
    color: var(--color2);
   }
   
   .btn-custom:active {
    filter: brightness(.7);
    transform: scale(.98);
   }

   .bg-dark-opacity{
    background-color: rgba(12, 12, 12, 0.863);
   }

   .uppercase{
    text-decoration: underline;
    text-underline-offset: 8px;
   }